html, body {
  height:100%;
  position:relative;
  margin: 0;
  font-family: Unbounded;

}

.section1{
  font-size:1.25rem;
}
#bkgrdPhoto {
  border-radius: 90%;
  height: 15rem;
  width: 15rem;
  
}

.heroshot{
  float: right;
  line-height: 0.1em;
  padding: 3px;
  font-size: 100%;
  margin: 0 0 5px 15px;
  text-align: left;

}
.backgroundimg{
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/1010/166/494/flat-landscape-minimalism-deer-lake-wallpaper-preview.jpg");
  height: 100%;
  width: 150%;
  filter: blur(3px);
  background-size: 100% 100%;
}

.textmain {
  position: absolute;
  top: 0;
  padding: 1.25em 1.5em 1.5em 1.5em;
  border-left: 1px solid #a7d7f9;
  line-height: 1.6;
  font-size: 1em;
}

.section2 {
  background-color: #00203fff;
  padding: 3rem ;
  font-size: 1.5rem;
  color: #ADEFD1FF;
}

.section4 {
  background-color: #108aa2FF
  padding 5rem ;
  font-size: 1.5rem;
  color: #00203fff
}

.section3 {
  background-color:#ADEFD1FF ;
  padding: 3rem;
  font-size: 1.5rem;
  color: #00203fff;
}
