html, body {
  height:100%;
  position:relative;
  margin: 0;
  font-family: Unbounded;

}

.section1{
  font-size:1.25rem;
}
#bkgrdPhoto {
  border-radius: 90%;
  height: 15rem;
  width: 15rem;
  
}

.heroshot{
  float: right;
  line-height: 0.1em;
  padding: 3px;
  font-size: 100%;
  margin: 0 0 5px 15px;
  text-align: left;

}
.backgroundimg{
  background-image: url("https://cdn.prod.website-files.com/5f2b1efb0f881760ffdc5c96/65293ad388e7f519253c23b6_cuu_mexygabriel_design_banner-scaled.jpg");
  height: 100%;
  width: 100%;
  filter: blur(1px);
  background-size: 100% 100%;
}

.textmain {
  position: absolute;
  top: 0;
  padding: 2rem 5rem 5rem 1.5rem;
  border-left: 1px solid #a7d7f9;
  line-height: 1.6;
  font-size: 1em;
  color: #ADEFD1FF;
  -webkit-text-stroke: 0.059px;
  -webkit-text-stroke-color: #00203fff;
}

.section2 {
  background-color: #00203fff;
  padding: 5rem ;
  font-size: 1.5rem;
  color: #ADEFD1FF;
}

.section4 {
  background-color: #ADEFD1FF ;
  padding: 5rem ;
  font-size: 1.5rem;
  color: #00203fff
}

.section3 {
  background-color:#00203fff ;
  padding: 5rem;
  font-size: 1.5rem;
  color: #ADEFD1FF;
}
